<br>
<br>
<br>
<br>
<div class="d-flex justify-content-center">
    <h2>Led Controller</h2>
</div>
<div class="d-flex justify-content-center">

    <a href="/LEDComp/led/on" class="btn btn-success">On</a>
    <a href="/LEDComp/led/blink" class="btn btn-warning">Blink</a>
    <a href="/LEDComp/led/stop" class="btn btn-primary">Stop Blink</a>
    <a href="/LEDComp/led/off" class="btn btn-danger">Off</a>



</div>